* {
  font-family: "Barlow", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 0.45em;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #625aff;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 32px !important;
    letter-spacing: 1px;
  }
}
